@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ----------
common-styles
------------- */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
}

/* ----------
common-styles
------------- */

/*-------------
 navigation-styles 
 ------------------*/
.header-section{
    width: 100%;
    height: 94px;
    background-color: #562EFF;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    margin-top: 26px;
    margin-left: 63px;
}
.logo-section .logo img{
    width: 41px;
    height: 51px;
    color: #FFFFFF;
    
}
.logo-title{
    font-size: 24px;
    color: #FFFFFF;
}
.nav-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
}
.nav-option{
    margin-top: 20px;
}
.nav-option a{
    margin-right: 36px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}
.profile-icon{
    margin-top: 6px;
}

/*-------------
 navigation-styles 
 ------------------*/

/* ---------
top-players 
----------- */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin: 3px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-top: 40px;
}
.player{
    display: flex;
    align-items: center;
    
}
.players .player img{
    width: 56px;
    height: 56px;
}   
.player-name{
    margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* ---------
top-players 
----------- */

/* -------
blogs-style 
---------- */
.top-blogs{
    padding-top: 30px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    margin-top: 32px;
}
.blog{
    display: flex;
    align-items: center;
   
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
    
}
.blog-title{
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
   
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
    
}
/* -------
blogs-style 
---------- */

/* ------------
corses-styles 
--------------*/

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-title{
    font-size: 21px;
    color: #1E1E1E;
}
.course-author{
    font-size: 15px;
    color: #ED6B4F;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-info span p{
    color: #A2A2A2;
    font-size: 15px;
}
.course-duration{
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 3px 8px;
    font-size: 15px;
    color: #FF4A60;
}
.course-duration .fa-clock{
    width: 20px;
    height: 20px;
    color: #FF4A60;
}
/* ------------
corses-styles 
--------------*/


/*----------------
 media-queries
 ------------- */

 /* mini-phone */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .courses , .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .courses{
        flex-direction: column;
    }
    .section-title{
        text-align: center;
    }
}